---
layout: default
---

<h1>{{page.title}}</h1>

<img style="margin: 10px" src="{{page.image}}" width="300" />

<!-- If page tags contain 'doing' -->
{%- if page.tags contains 'doing' -%}
<!-- Create a red color div -->
<div style="background-color: rgb(0, 41, 42); padding: 5px; color: white; margin: 8px">
    <h2>Incomplete - In Process</h2>
    <p>This book is currently in the process of being uploaded on this website.
        It might take some while which is why you may not find all the chapters/topics in it as of now.</p>
</div>
{%- endif %}

<!-- If page tags contain 'missing' -->
{%- if page.tags contains 'missing' -%}
<!-- Create a red color div with white font -->
<div style="background-color: rgb(42, 0, 0); padding: 5px; color: white; margin: 8px">
    <h2>Incomplete - Missing</h2>
    <p>Some topics from this book are missing as we cannot find it nor have it.
        In case you have this book or are willing to contribute please mail us.</p>
</div>
{%- endif %}

<!-- If page tags contain 'future' -->
{%- if page.tags contains 'future' -%}
<!-- Create a dark green color div with white font -->
<div style="background-color: rgb(8, 42, 0); padding: 5px; color: white; margin: 8px">
    <h2>Incomplete - Future</h2>
    <p>This book has been planned to be uploaded here but the process has not started yet.
        It might take some while which is why you may not any chapters/topics in it as of now.</p>
</div>
{%- endif %}
<p>
    {{ content }}
</p>